<!--About Section -->

<section class="about-section w-100-percent">
  <div class="about-wrap">
    <h1>About me</h1>
    <p>'I am <strong> Web & Mobile App Designer </strong> with excellent knowledge in <strong>Front-End</strong>. Most of my design work I do with <strong>Adobe Xd</strong> where I can easily make design and prototype for Apps and sites.  I am using <strong>HTML, CSS, and JavaScript (jQuery)</strong> frequently along with <strong>PHP for WordPress</strong>. If you are interested in knowing more about me visit About me page...'</p>

    <a routerLink="about" class="flat-btn bold" >SEE SKILS AND REST<span></span></a>
  </div>
</section>
