.project-page
  width: 100%
  display: flex
  justify-content: center

.project-wrap
  max-width: 1080px
  margin: auto
  display: flex
  flex-wrap: wrap
  .text, .photo
    width: 50%
  .photo
    img
      max-width: 100%
      margin-top: 20px
      border: 1px solid #C7C7C7
  .text
    h1
      color: #000


@media (max-width: 1080px) and (min-width: 775px)
  .project-wrap
    padding-left: 50px
    padding-right: 50px
@media(max-width: 775px)
  .project-wrap
    padding-left: 20px
    padding-right: 20px

@media(max-width: 480px)
  .project-wrap
    .text, .photo
      width: 100%
    .photo
      text-align: center

