<section class="testimonial-section">
<h2>They love my work</h2>
  <div class="testimonial-wrap">

    <article (swiperight)="swipeChangeTestemonial($event.type)" (swipeleft)="swipeChangeTestemonial($event.type)" class="testimonial show" *ngFor="let t of testimonials;">
      <img src="{{t.image}}" alt="{{t.name}}">
      <h3>{{t.name}}</h3>
      <p> {{t.description}} </p>
    </article>
    <br>
    <div *ngIf="swipping">
      <input  *ngFor="let i of getIndexes()" [(ngModel)]="tindex" (change)="pushTestemonial()" [value]="i" name="testimonial" type="radio">
    </div>
  </div>
</section>
