<section class="testimonial-section">
<h2>They love my work</h2>
  <div class="testimonial-wrap">
    
    <article class="testimonial show">
      <img src="assets/img/face.png" alt="Men's Face">
      <h3>John Doe</h3>
      <p>It’s great to work with Jovan, every second spent in work with him is like a gift from the sky. </p>
    </article>
    <article class="testimonial">
      <img src="assets/img/face.png" alt="Men's Face">
      <h3>John Doe</h3>
      <p>It’s great to work with Jovan, every second spent in work with him is like a gift from the sky. </p>
    </article>
    <article class="testimonial">
      <img src="assets/img/face.png" alt="Men's Face">
      <h3>John Doe</h3>
      <p>It’s great to work with Jovan, every second spent in work with him is like a gift from the sky. </p>
    </article>
  </div>
</section>