<div class="fixer">
<main class="w-100-percent">

  <!--Background -->
  <div class="bgc-wrap">
    <div class="white"></div>
    <div class="grey"></div>
  </div>
  <!--End of Background -->

  <section class="mw-1080">
    <div class="primary-content">
      <h1 class="cov-title">
        <strong>Design</strong><br>
        <strong class="b-space">Coding</strong><br>
        <strong class="bb-space">Courage</strong>
      </h1>
      <p class="cover-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor ornare ligula, eu rutrum lacus pellentesque vel. Integer sed semper enim.</p>
      <div class="btns-wrap">
        <a routerLink="portfolio" class="big-btn"> See work</a>
        <a routerLink="about" class="flat-btn" >About<span></span></a>
      </div>
    </div>

    <div class="secondary-content">
      <img src="assets/img/me.png" alt="">
    </div>
  </section>
</main>
</div>
<app-about-section></app-about-section>
<app-testimonial-section></app-testimonial-section>
<app-portfolio-section></app-portfolio-section>
<app-subscribe-section></app-subscribe-section>